{% extends "base.html" %}

{% block content %}

<section class="featured-pizzas">
    <h2>Special Deals</h2>

    <div class="pizza-cards">
        {% for deal in deals %}
        <div class="pizza-card">
            <img src="{{ url_for('static', filename='images/' ~ deal['image']) }}" alt="{{ deal['title'] }}">

            <h3>{{ deal['title'] }}</h3>
            <p>{{ deal['description'] }}</p>
            <p>${{ deal['price'] }}</p>

            <form action="{{ url_for('add_to_cart') }}" method="POST">
                <input type="hidden" name="item_name" value="{{ deal['title'] }}">
                <input type="hidden" name="price" value="{{ deal['price'] }}">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
